.nav_bar_div{
		display: block;
    }
	    .nav_bar{	
		
		top:0; 
		left:0; 
        list-style-type: none;
		position:sticky;
        margin: 0;
		width:100%;
        padding: 0;
        overflow: hidden;
        background-color: #000000;
	
        }
		ul li{
		    float: left;
	    }
		ul li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        }
		
		.logo {
		padding: 10px 3px;
		font-size: 20px;
		color: yellow;
		
		}
		#img_logo{
		    margin: 3px ;
			padding: 2px;
        }
    ul li a:hover {
        background-color: #26cdb1;
    }  
/* homepage's offerings section */
	.service_offerings{
		display:flex;
		height: 500px;
		border: 10px solid green;
		flex-direction: row;
		

	}
	.service_offerings div{
		border-radius: 45px;
		border: 1px solid green;
		height: 96%;
		padding: 1%;
		margin:1%;
		width: 30%;
		
	}
/*end of offering section */
	body {
	background-color:rgb(220, 41, 59);
	color:rgb(213, 211, 211);
	text-align:center
	}
	a{
	text-align:left;
	}
	h2{
	display:inline-block; color:yellow;
	}
	img{
	display:inline-block;
	}
	p{
	text-align: center;
	font-size: 1.3em; 
	margin:41px;
	color:rgb(251, 251, 251);
	}
	table{
	text-align: center; 
	border: 3px solid white; 
	background-color:rgb(10,10,20);
	margin-left:auto; margin-right:auto;
	}
	.inquiry_form{
	text-align:center; 
	background-color:rgb(180,180,180); 
	color:rgb(10,10,3);
	}